{% include 'layout.html' %}

<div class="container">
    <div class="card">
        <div class="card-header">
            Update user infos
        </div>
        <div class="card-body">

            {% if msg %}
                <div class="alert alert-{{msg_class}}" role="alert">
                    {{msg}}
                </div>
            {% endif %}

            <form method="POST" action="/user/update-user">
                <div class="form-group">
                    <label>UserName</label>
                    <input type="text" class="form-control" name="username" value={{ user.username }} required>
                </div>
                <div class="form-group">
                    <label>Current Password</label>
                    <input type="password" class="form-control" name="password" required>
                </div>
                <div class="form-group">
                    <label>New Password</label>
                    <input type="password" class="form-control" name="new_password" required>
                </div>
                <button type="submit" class="btn btn-warning">Update</button>
                <button 
                    onclick="window.location.href='/todos'"
                    type="button" 
                    class="btn btn-info">
                    Cancel
                </button>
            </form>
        </div>
    </div>
</div>